<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>textframe</string>
	<key>uuid</key>
	<string>C5BD414B-C011-4AB3-8CF2-21D275CA0B4F</string>
</dict>
</plist>
